@import "bootstrap";
@import "bootstrap-sprockets";
@import "welcome";
@import 'rails_bootstrap_forms';
@import "navbar";
@import "payment";

body {
  padding-top: 60px;
}

.center {
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
}